* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
   
}

 body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  background-color: white;
 }
 form {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    text-align: center;
    padding: 20px 25 px;
    box-shadow: 0 5px 10px ;
 }
 form .tittle{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
 }

  form label{
    margin-bottom: 35px;
  }

 
